<h2>Announcements</h2>

<% if can?(:create, Announcement) %>
  <%= link_to 'New Announcement', new_announcement_path, class: 'btn btn-success', id: 'new-announcement' %>
<% end %>
<%= link_to 'Hide/Show Expired Announcements', hide_expired_path, remote: true, class: 'btn btn-danger float-right' %>

<div id="announcement-table-container">
  <%= render 'table' %>
</div>
